body, td, th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #444;
}
body {
    width: 800px;
    margin: 30px auto;
    background: #eee url('../images/bg_1.png');
}
a {
    text-decoration: none;
    color: blue;
}
img {
    border: none;
}
form {
    margin: 0px auto;
}
fieldset {
    padding: 10px;
    border: 1px solid silver;
    text-align: left;
    margin: 0px auto;
    /** Thêm CSS 3.0 **/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
legend {
    text-transform: uppercase;
    color: #0A71A5;
    font-weight: bold;
    font-size: 14px;
}
input, select {
    padding: 3px;
    outline: none;
}
textarea {
    width: 100%;
    outline: none;
}
img.thumbs {
    width: 150px;
    border: 1px solid #ccc;
    padding: 2px;
    background: white;
}
.form_label {
    display: inline-block;
    width: 120px;
    margin: 3px;
    vertical-align: middle;
}
.form_item {
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
}
.textbox,.select {
    width: 300px;
    border: 1px solid silver;
    /** Thêm CSS 3.0 **/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.textbox:hover {
    background: #f5f5f5;
}
.button {
    padding: 5px 20px 5px 20px;
    background-color: #0E76AA;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    /** Thêm CSS 3.0 **/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    
}
.button:hover {
    background-color: #C0206E;
}
.error_msg {
    text-align: left;
    color: red;
    font-weight: bold;
    padding: 20px 5px 20px 60px;
    border: 1px dotted #ccc;
    background: #f7f7f7 url("../images/warning.png") no-repeat 15px center;
    /** Thêm CSS 3.0 **/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.result_msg {
    text-align: left;
    font-style: italic;
    color: black;
    padding: 20px 5px 20px 60px;
    border: 1px solid green;
    background: #C1FFE0 url("../images/valid.png") no-repeat 15px center;
}
#layout {
    /** Thêm CSS 3.0 **/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 7px #ccc;
    -moz-box-shadow: 1px 1px 7px #ccc;
    -webkit-box-shadow: 1px 1px 7px #ccc;
}
#top {
    background-image: url("../images/content_bg.png");
    height: 60px;
    line-height: 60px;
    padding: 0px 20px;
    font-size: 16px;
    color: #eee;
    font-weight: bold;
    /** Thêm CSS 3.0 **/
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}
#menu {
    background-color: #E5E5E5;
    padding: 3px;
    font-weight: bold;
    border: 1px solid silver;
}
#menu a {
    color: #555555;
}
#menu a:hover {
    color: #BF0000;
}
#main {
    padding: 10px;
    background-color: white;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}
#bottom{
    line-height: 40px;
    height: 40px;
    color: #aaa;
    background-image: url("../images/content_bg.png");
    text-align: center;
    /** Thêm CSS 3.0 **/
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}